[Unit]
Description=Bridge FDB Daemon
Before=network.target hostapd.service
Wants=network.target hostapd.service

[Service]
EnvironmentFile=-/etc/default/bridgefdbd
WorkingDirectory=/usr/local/sbin/
Type=notify
ExecStart=/usr/local/sbin/bridgefdbd $BRIDGEFDBD_OPTS $BRIDGEFDBD_ADDRS

[Install]
WantedBy=hostapd.service
